/*----Home Page Styling----*/

.homeLogo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logo {
    width: auto;
    height: 15vh;
}

.logoImg {
    height: 100px;
    width: auto;
}

.mapSelect {
    display: grid;
    width: 50%;
    grid-gap: 1.5rem;
    gap: 1.5rem;
    grid-column-gap: 9rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    margin: auto;
}

.mapSelection {
    display: flex;
    flex-direction: column;
    min-width: 350px;
    width: 100%;
    height: auto;
    transition: box-shadow 0.2s;
    border-radius: 5px;
    cursor: pointer;
}

.mapSelection:hover {
    box-shadow: 3px 3px 3px 3px darkgrey;
}

.mapDetails {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1% 2%;
}

.mapName {
    position: relative;
    margin: 0;
    margin-top: 1%;
    text-decoration: underline;
    color: rgb(36, 36, 36);
}

.legendImg {
    max-width: 1.75em;
    height: auto;
}

.cardImg {
    width: 100%;
    height: auto;
}

.leaderboardDiv {
    width: 60%;
    background-color: rgba(167, 35, 35, 0.767);
    height: auto;
    margin: 2% auto;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
}

.leaderboardMsgDiv {
    width: 60%;
}

.leaderboardMsg {
    font-size: 3em;
    padding: 4% 10%;
    color: rgb(226, 226, 226);
    margin: 0;
    text-align: center;
    width: 80%;
}

.leaderboardCaption {
    font-size: 2em;
    width: 80%;
    text-align: center;
    padding: 0 10%;
    margin: 0;
    color: rgb(36, 36, 36);
}

.leaderboardBtn {
    font-size: 1.5em;
    width: 8em;
    height: 2em;
    background: rgb(139, 139, 236);
    border-radius: 10px;
    border: none;
    box-shadow: 2px 2px 2px rgb(68, 68, 68);
    transition: box-shadow 0.2s;
    margin: 35% 50%;
    color: rgb(36, 36, 36);
}

.leaderboardBtn:hover {
    box-shadow: 3px 3px 3px black;
}




/*----Game Page Styling----*/
.game {
    height: auto;
    width: 100%;
    margin: none;
}

@media (min-width: 992px) {
    .gameLevel {
        width: 92%;
        height: auto;
        cursor: url('../assets/misc/custom-cursor.svg') 50 50, auto;
        z-index: 10;
        margin: 0 4%;
        margin-bottom: 5%;
    }
}

.characterDropdown {
    outline: 4px solid rgb(155, 96, 47);
    width: 5%;
    min-width: 100px;
}

.characterSelect {
    display: flex;
    flex-direction: row;
    background-color: white;
    outline: 2px solid rgb(155, 96, 47);
    cursor: pointer;
    justify-content: space-between;
}

.characterName {
    position: relative;
    margin: 0;
    margin-top: 1%;
    color: rgba(36, 36, 36, 0.7);
    transition: all 0.2s linear;
}

.characterName:hover {
    color: rgba(36, 36, 36, 1);
    font-size: 20px;
}

.darkBackground {
    height: 130%;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
}

.startBtn {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 4em;
    width: 8em;
    font-size: 2em;
    border-radius: 20px;
    border: none;
    background-color: rgb(192, 51, 51);
    transition: all 0.2s linear;
}

.startBtn:hover {
    background-color: rgb(69, 201, 52);
    box-shadow: 5px 5px 5px black;
}

.snackbarHidden {
    position: fixed;
    top: -3em;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 1.5em;
    transition: all 0.2s linear;
}

.snackbarShowing {
    position: fixed;
    top: 0em;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 1.5em;
    transition: all 0.2s linear;
}

.snackbarFound { 
    margin: 0 auto;
    width: 13em;
    height: 2em;
    background-color: rgba(0, 182, 15, 0.8);
    border: 1px solid rgba(0, 182, 15, 0.8);
    border-radius: 20px;
    box-shadow: 3px 3px 3px black;
}

.snackbarMissed {
    margin: 0 auto;
    width: 13em;
    height: 2em;
    background-color: rgba(255, 21, 21, 0.8);
    border: 1px solid rgba(255, 21, 21, 0.8);
    border-radius: 20px;
    box-shadow: 3px 3px 3px black;
}

.snackbarMsg {
    text-align: center;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 4%;
}

.endGameMsgHolder {
    padding: 2% 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 7em;
    width: 14em;
    font-size: 2em;
    border-radius: 20px;
    border: none;
    background-color: rgb(121, 121, 233);
    transition: all 0.2s linear;
    box-shadow: 3px 3px 3px black;
}

.endGameMsg {
    margin: 0 5%;
    text-align: center;
    color: black;
}

.endBtnHolder {
    margin: auto;
    margin-top: 5%;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.endBtnRed {
    background: rgb(192, 51, 51);
    height: 3em;
    width: 6em;
    border: 1px solid black;
    border-radius: 15px;
    cursor: pointer;
}

.endBtnGreen {
    background: rgb(69, 201, 52);
    height: 3em;
    width: 6em;
    border: 1px solid black;
    border-radius: 15px;
    cursor: pointer;
}

.endBtn {
    transition: all 0.2s linear;
}

.endBtn:hover {
    box-shadow: 3px 3px 3px black;
}

.nameInput {
    text-align: center;
    height: 1.5em;
    width: 10em;
    font-size: 1em;
    transition: all 0.2s linear;
    border: none;
}

.nameInput:hover {
    border: none;
    
}

.inputHolder {
    width: auto;
    text-align: center;
    margin: 8% 0;
}




/*-----Leaderboard Page Stlying-----*/
.leaderboard {
    width: 100%;
    height: 80%;
}

.leaderboardTitle {
    text-align: left;
    font-size: 4em;
    margin: 0;
    margin-left: 5%;
    margin-bottom: 2%;
    height: 10%;
    color:rgb(48, 97, 201);
}

.leaderboardContent {
    width: 100%;
    height: 87%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.leaderboardLine {
    width: 95%;
    height: 1px;
    background-color: black;
    margin: 1% 2.5%;
}

.sidePanel {
    width: 15%;
    height: 80%;
    border: 1px solid black;
    border-radius: 20px;
    text-align: center;
    margin-left: 5%;
    margin-top: 1%;
    background-color:rgba(139, 139, 236, 0.3)
}

.sidePanelTitle {
    text-decoration: underline;
    font-size: 2em;
    color:rgb(197, 0, 0);
}

.sidePanelContent {
    display: flex;
    flex-direction: column;
    justify-content: space-around
}

.levelSelect {
    background: none;
    border: none;
    font-size: 1.5em;
    margin: 5%;
    cursor: pointer;
    transition: all 0.2s linear;
    border-radius: 10px;
    padding: 0;
    color: rgb(192, 51, 51);
}

.levelSelect:after {
    display:inline-block;
    position: relative;
    bottom: 0;
    left: 0;
    background-color: rgb(100, 100, 100);
    content: "";
    transform: scaleX(0);
    width: 75%;
    height: 3px;
    transform-origin: bottom left;
    transition: transform 0.2s ease-out;
    top: -15px;
}

.levelSelect:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.levelSelect:hover {
    margin-left: 15%;
    font-size: 1.75em;
    font-weight: 600;
    color: rgb(48, 97, 201);
}

.playerList {
    width: 70%;
    margin-top: 1%;
    margin-right: 5%;
    border: 1px solid black;
    border-radius: 20px;
}

.playerScore {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 5%;
    margin: 1% 0;
}

.scoreEntry {
    margin: 0;
    height: auto;
    font-size: 1.2em;
    font-weight: 500;
    margin-top: 0.5%;
}

.playerName {
    width: 70%;
    text-align: left;
    margin-left: 5%;
    padding-left: 1%;
    border-right: 1px solid grey;
    background-color: lightgrey;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.playerTime {
    width: 20%;
    text-align: center;
    margin-right: 5%;
    border-left: 1px solid grey;
    background-color: lightgrey;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}